button{
    width: 100px;
    padding: 7px 0;
    text-align: center;
    margin: 2px 1px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #8e0096 ;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover{
    border: none;
}
/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }