*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:url(img/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #8e0096 ;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover{
    border: none;
}
#featured h2{
    font-size: 50px;
    margin-top: 60px;
    text-align: center;

}
#featured p{
    text-align: center;
}

            #leftbox {
                float:left;
                width:25%;
                height:280px;
            }
            #leftbox h3 {
                text-align: center;
            }
            #middlebox{
                float:left;
                width:50%;
                height:280px;
            }

            #middlebox h3{
                text-align: center;
            }
            #rightbox{
                float:right;
                width:25%;
                height:280px;
            }
            #rightbox h3{
                text-align: center;
            }
.lamp{
    width: 200px;
} 
.art{
    width: 200px;
} 
.rug{
    width: 200px;
}     


/* Set additional styling options for the columns */
.column {
float: left;
}

/* Set width length for the left, right and middle columns */
.left {
width: 30%;
height: 100px;
}

.middle {
width: 30%;
height: 100px;
}

.right {
width: 30%;
height: 100px;
}

.row:after {
content: "";
display: table;
clear: both;
}  

